<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.somelogs.dao.custom.GoodsMapper">
  <sql id="base_column">
    <include refid="com.somelogs.dao.mbg.GoodsMBGMapper.Base_Column_List" />
  </sql>
</mapper>